{{page-title "Movies"}}
    {{this.getRandomMovies}}
    <div class="favorites" {{on "click" this.myFavorites}}></div>
    <div class="details">
        <img src="" alt="" class="expandimage">
        <h2 class="title">Title -   </h2>
        <input type="text" class="review">
        <marquee width="70%"  height="10%" class="movieoverview"></marquee>
        <button class="submitbutton" {{on "click" this.saveRecord}}>Submit</button>
        <param>
    </div>
    <div class="storedetails">
        {{#each this.getFavaoritesMovies as |movie|}}
            <div class="storedetailsDiv" onclick={{fn this.storeMovieDetails}}>
                <img src={{movie.Image}} alt="">
                <h3 class="storetitle">{{movie.title}}</h3>
                <button value={{movie.id}} {{on "click" this.deleteStoreRecord}} class="deletebutton">Delete</button>
                <param value={{movie.id}}>
            </div> 
        {{/each}}       
    </div>
    {{#each this.randomMoviesArray as |movie|}}
        <div class="list" {{on "click" this.displayStoreMovies}} >
            <h2>Title -- {{movie.title}}</h2>
            <h3>Language -- {{movie.Language}}</h3> 
            <h4>Date -- {{movie.date}}</h4>  
            <img src={{movie.Image}} alt="">   
            <marquee width="70%"  height="10%" class="overview">
                {{movie.overview}}
            </marquee>   
            <param  value={{movie.index}}>       
        </div> 
    {{/each}} 
{{outlet}}